.tasks-table
  .task-user
    %ul
      %li
        - if t.user.image?
          = link_to "/users/#{t.user.id}", class: "image-a" do
            = image_tag t.user.image.url, class: "user-icon", id: "img_prev"
        - else
          = link_to "/users/#{t.user.id}", class: "icon-a" do
            %i.far.fa-user-circle
      %li
        %a.user-mame{href: "/users/#{t.user.id}"}
          %span.user-name= t.user.nickname
      - if user_signed_in? && current_user.id == t.user.id
        %li.details
          = link_to '…', "/tasks/#{t.id}/edit"
      - else
        %li.details
          .details-none
            …
  .tasks-box
    .limit-box
      .limit-upper
        .limit リミット
      .limit-lower
        .limit-date= t.limit_date
    .task-box
      .task-upper
        .task タスク
        .task-data
          .task-data-inner= simple_format(t.task)
          .created-date= t.created_at.to_s(:datetime)
          - if user_signed_in? && current_user.id == t.user.id
            .status-table
              %a(href="/tasks/#{t.id}/edit")
                .now-state= t.state
          - else
            .status-table
              .others-now-state= t.state
  .other-box
    %ul
      - if user_signed_in?
        - if current_user.already_liked?(t)
          %li
            .like-orange
              = link_to task_like_path(id: t.id, task_id: t.id), id: "like_btn", method: :delete do
                -# -----↓非同期処理の記述↓-----
                -# = link_to task_like_path(id: t.id, task_id: t.id), method: :delete, remote: true do
                -# -----↑非同期処理の記述↑-----
                %i.far.fa-thumbs-up
        - else
          %li
            .like-none
              = link_to task_likes_path(id: t.id, task_id: t.id), method: :post do
                -# -----↓非同期処理の記述↓-----
                -# = link_to task_likes_path(id: t.id, task_id: t.id), method: :post, remote: true do
                -# -----↑非同期処理の記述↑-----
                %i.far.fa-thumbs-up
      - else
        %li
          .like-none
            = link_to new_user_session_path do
              %i.far.fa-thumbs-up
      %li
        - if t.comments.size == 0
          %a(href="/tasks/#{t.id}")
            %i.far.fa-comment-dots
        - else
          %a(href="/tasks/#{t.id}")
            %i.far.fa-comment-dots.a-comments
    .adjustment-box
