.contents.row
  .container
    = form_with(model: @task, local: true) do |f|
      %h3
        Share task
      = f.text_area :task, placeholder: "task" , rows: "10", required: ""
      = f.select :state, [['New', 'New'], ['Doing', 'Doing'], ['Completed!', 'Completed!'], ['Failure', 'Failure']], { selected: 'New', selected: 1, required: "" } 
      %label Task State
      .delete-field
      = link_to "delete", task_path(@task.id), method: :delete
      .input-field
      %div
      = f.date_field :limit_date, required: ""
      = f.submit "SEND" 
