.tasks
  .main-table
    %ul
      %li
        %a(href="/tasks/new")
          .post-task Share task
      %li
        %a(href="#")
          .my-page My page
  - @tasks.each do |t|
    .tasks-table
      .task-user
        %ul
          %li
            %i.far.fa-user-circle
          %li
            %a(href="#")
              .user-name= t.name
          %li.details
            = link_to '…', "/tasks/#{t.id}/edit"
      .tasks-box
        .limit-box
          .limit-upper
            .limit LIMIT
          .limit-lower
            .limit-date= t.limit_date
        .task-box
          .task-upper
            .task TASK
            .task-data
              .task-data-inner= simple_format(t.task)
              .created-date= t.created_at.to_s(:datetime)
              .status-table
                %a(href="#")
                  .now-state= t.state
      .other-box
        %ul
          %li
            %a(href="#")
              %i.far.fa-thumbs-up
          %li
            %a(href="/tasks/#{t.id}")
              %i.far.fa-comment-dots
        .adjustment-box
-# .side-ber
-#   開発段階

