.contents.row
  .container
    = form_with(model: @task, local: true) do |f|
      %h3
        Share task
      = f.text_field :name, placeholder: "name", required: ""
      = f.text_area :task, placeholder: "task" , rows: "10", required: ""
      %div
      = f.date_field :limit_date, required: ""
      = f.submit "SEND"