.contents.row
  .container
    = form_with(model: @task, local: true) do |form|
      %h3
        Share task
      = form.text_field :name, placeholder: "name", required: ""
      = form.text_area :task, placeholder: "task" , rows: "10", required: ""
      %div
      = form.date_field :limit_date, required: ""
      = form.submit "SEND"