.users
  .users__top
    .user-info
      .user-info__left
        .profile-image
          - if @user.image?
            = image_tag @user.image.url, style: "height: 230px; width: 230px; border-radius: 50%;"
          - else
            %i.far.fa-user-circle
      .user-info__center
      .user-info__right
        .info-right
          .info-right__name
            .name
              = @nickname
            .edit
              - if user_signed_in? && @user == current_user
                = link_to edit_user_path(current_user) do
                  %i.fas.fa-user-cog
                  %p
                    プロフィール編集
              - else
                - unless current_user == @user
                  - if current_user.following?(@user)
                    = form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f|
                      = f.hidden_field :follow_id, value: @user.id
                      = f.button type: "submit", class: 'follow-now' do
                        %p
                          フォロー中
                        %i.fas.fa-user-check
                  - else
                    = form_for(current_user.relationships.build) do |f|
                      = f.hidden_field :follow_id, value: @user.id
                      = f.button type: "submit", class: 'following' do
                        %p
                          フォロー
                        %i.fas.fa-user
          .info-right__sns
            .twitter
              - if @user.twitter?
                = link_to @twitter do
                  %i.fab.fa-twitter
              - else
                %i.fab.fa-twitter.none
            .facebook
              - if @user.facebook?
                = link_to @facebook do
                  %i.fab.fa-facebook
              - else
                %i.fab.fa-facebook.none
            .instagram
              - if @user.instagram?
                = link_to @instagram do
                  %i.fab.fa-instagram
              - else
                %i.fab.fa-instagram.none
            .mysite-logo
              - if @user.site?
                %i.fas.fa-home
              - else
                %i.fas.fa-home.none
            .mysite
              - if @user.site?
                = @site
              - else
                .nil_date
                  web site
          .info-right__follow
            .task-count
              タスク
              3
              -# = task.task.count
              件
            .following
              フォロー中
              = @user.followings.count
              人
            .follower
              フォロワー
              = @user.followers.count
              人
          .info-right__profile
            .profile
              profile
            .introduce
              - if @user.profile?
                = @profile
              - else
                .nil_date
                  profile
  .users__low
    .select-tabs
      .inner-tabs.tab
        %a.task-tab.active(href="#tab1")
          = @nickname
          さんのタスク
        %a.like-tab(href="#tab2")
          いいねしたタスク
    #tab1.user-tasks.tabContents.active
      - @tasks.each do |t|
        = render partial: "tasks/task", locals: { t: t }
      = paginate(@tasks)
    #tab2.like-tasks.tabContents
      いいね一覧
      = paginate(@tasks)
    .top-page
      = link_to "TOP", "/", class: "my-page"