!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title OurTask
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload'
  %body
    .title-bar
      .title-box
        .title-box-inner
          .title-name
            %a(href="/")
              .our-task our task
          - if user_signed_in?
            %ul.user-sign-in
              %li
                = link_to "My page", root_path, method: :get, class: 'new'
              %li
                = link_to "Log Out", destroy_user_session_path, method: :delete, class: 'log-in'
          - else
            %ul.user-sign-in
              %li
                = link_to "Sign up", new_user_registration_path, class: 'new'
              %li
                = link_to "Log in", new_user_session_path, class: 'log-in'
    .notification
      - flash.each do |key, value|
        = content_tag :div, value, class: key
    = yield
%footer
  Copyright
  %span.copyright © 
  2020 our task All Rights Reserved.
  %a(href="#")
    %i.far.fa-caret-square-up